In [1]:
# Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Import csv Data with pandas

In [2]:
df = pd.read_csv('card_transdata.csv', sep=',', encoding='utf-8')

# Get number of rows and columns
print(df.shape)

# Show first records
df.head(5)

(1000000, 8)

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

# Check Datatypes for Transformation

In [5]:
# Generelle Informationen zum Dataframe
df.info()

# Nur die Datentypen anzeigen für Analyse
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   distance_from_home              1000000 non-null  float64
 1   distance_from_last_transaction  1000000 non-null  float64
 2   ratio_to_median_purchase_price  1000000 non-null  float64
 3   repeat_retailer                 1000000 non-null  float64
 4   used_chip                       1000000 non-null  float64
 5   used_pin_number                 1000000 non-null  float64
 6   online_order                    1000000 non-null  float64
 7   fraud                           1000000 non-null  float64
dtypes: float64(8)
memory usage: 61.0 MB

distance_from_home                float64
distance_from_last_transaction    float64
ratio_to_median_purchase_price    float64
repeat_retailer                   float64
used_chip                         float64
used_pin_number                   float64
online_order                      float64
fraud                             float64
dtype: object

### Transformation
Alle Daten besitzen den Datentyp float64. Wir haben hier das Glück bei dem Datensatz von Kaggle, dass wir keine Transformation der Datentypen benötigen. Das Format float64 ist bereits für unser Projekt geeignet.

### Unifying
Wir verwenden in unserem Projekt nur einen Datensatz vom Kaggle. Dieser Datensatz hat bereit geeignete Formate und Spalten definiert, die wir später für die Features (erklärenden Variablen) nutzen können. Deshalb benötigen wir keine Vereinheitlichung der Formate. Da wir nicht mehrere Datensätze verwenden, müssen wir die Daten nicht zusammenführen, da alle relevanten Datensätze bereits enthalten sind. Deshalb verwenden wir kein Concatenate, Append, Join, Merge oder Aggregate.